.icon {
    -sprite-selector-for-group: icons;
    -sprite-packer: horizontal;
    -sprite-background-color: transparent;
}

.icon-foo {
    background-image: url(foo.png?sprite=icons&padding=10,10,10,10);
}

.icon-bar {
    background-image: url(bar.png?sprite=icons);
}

.icon-quux {
    background-image: url(quux.png?sprite=icons&nogroupselector=true);
}
