.icon {
    -ag-sprite-selector-for-group: icons;
    -ag-sprite-packer: horizontal;
    -ag-sprite-background-color: transparent;
}

.icon-foo {
    -ag-sprite-group: icons;
    -ag-sprite-padding: 10 10 10 10;
    background-image: url(foo.png);
}

.icon-bar {
    -ag-sprite-group: icons;
    background-image: url(bar.png);
}

.icon-quux {
    -ag-sprite-group: icons;
    -ag-sprite-no-group-selector: true;
    background-image: url(quux.png);
}
